# A small utility script used for syncing the component repos to the monorepo.
copy.sh
GhostShip.materials/Release
GhostShip.materials/Icon*
GhostShip.inform/Build
GhostShip.inform/Index
GhostShip.inform/Skein.skein