<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>[AUTHOR] - [TITLE]</title>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="author" content="[AUTHOR]">
    <link rel="stylesheet" href="./style.css">

    [INTERPRETERHEAD]
</head>
<body>

<div id=phaser-game>
    <div id="gameport">
        [INTERPRETERBODY]
    </div>

    <script type="module" src="./js/index.js"></script>

    <div id=ui>
        <div>
            <table class="tableBorder" style="max-width: 80%;">
                <tr>
                    <th>Actions</th>
                    <th>Inventory</th>
                    <th>Things Mentioned</th>
                </tr>
                <tr>
                    <td id="actions"></td>
                    <td id="inventory"></td>
                    <td id="things"></td>
                </tr>
                </table>
        </div>

        <div>
            <table class="noTableBorder">
                <tr>
                    <td>Selected Action/Item:</td>
                    <td>Clicked Object:</td>
                </tr>
                <tr>
                    <td id="clickedActionItem" style="font-style: italic;"></td>
                    <td id="clickedObject" style="font-style: italic;"></td>
                </tr>
                </table> 
        </div>
    </div>
</div>

<div id="context-menu">
    <div class="item">Option 1</div>
    <div class="item">Option 2</div>
    <div class="item">Option 3</div>
    <div class="item">Option 4</div>
    <div class="item">Option 5</div>
</div>

</body>
</html>